<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{823,1},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1645,1},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{823,723},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1645,723},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1445},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{823,1445},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1645,1445},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,2167},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{823,723},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{823,2167},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1645,2167},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{823,1},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1645,1},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1645,723},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1445},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{823,1445},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1645,1445},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,2167},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{823,2167},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-230,0}</string>
                <key>spriteSize</key>
                <string>{820,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1645,2167},{820,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{2466,2888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbed201bca0e8ccb3740646f31c0a7f5:070317bd6ec2006836e7e6c865dfccbe:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
