<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{413,1},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{825,1},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1237,1},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1,197},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{196,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1649,1},{196,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{413,197},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{825,197},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1237,197},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1847,1},{194,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1,393},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{413,393},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{825,393},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1237,393},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1,589},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{413,589},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{825,589},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1237,589},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1649,413},{194,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1845,413},{194,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1,785},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{413,785},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{825,785},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{194,410}</string>
                <key>spriteSourceSize</key>
                <string>{220,420}</string>
                <key>textureRect</key>
                <string>{{1237,785},{194,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{2042,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21acae74e079cb3577dfec1028a32bae:44391c037b74d8437a421f8c8fe39a95:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
