<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-1}</string>
                <key>spriteSize</key>
                <string>{838,718}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{838,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{3429,1},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{4305,1},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{5181,1},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-1}</string>
                <key>spriteSize</key>
                <string>{872,718}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{841,1},{872,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{6057,1},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1,721},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{877,721},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1753,721},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,0}</string>
                <key>spriteSize</key>
                <string>{892,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{2629,723},{892,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{908,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{3523,723},{908,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,0}</string>
                <key>spriteSize</key>
                <string>{856,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{4433,723},{856,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{908,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{5291,723},{908,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{906,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{6201,723},{906,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,0}</string>
                <key>spriteSize</key>
                <string>{890,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1,1443},{890,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{893,1443},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,0}</string>
                <key>spriteSize</key>
                <string>{856,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1769,1443},{856,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-1}</string>
                <key>spriteSize</key>
                <string>{838,718}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1715,1},{838,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,0}</string>
                <key>spriteSize</key>
                <string>{856,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{2627,1445},{856,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{3485,1445},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,0}</string>
                <key>spriteSize</key>
                <string>{890,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{4361,1445},{890,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{906,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{5253,1445},{906,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{6161,1445},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{908,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1,2165},{908,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{908,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{911,2165},{908,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,0}</string>
                <key>spriteSize</key>
                <string>{892,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1821,2167},{892,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{2715,2167},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{3591,2167},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{4467,2167},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{5343,2167},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-1}</string>
                <key>spriteSize</key>
                <string>{872,718}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{2555,1},{872,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{6219,2167},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1,2887},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,0}</string>
                <key>spriteSize</key>
                <string>{890,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{877,2887},{890,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1769,2889},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{2645,2889},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,0}</string>
                <key>spriteSize</key>
                <string>{892,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{3521,2889},{892,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{908,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{4415,2889},{908,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{908,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{5325,2889},{908,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{906,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1,3609},{906,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,0}</string>
                <key>spriteSize</key>
                <string>{890,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{6235,2889},{890,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{1767,3611},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,0}</string>
                <key>spriteSize</key>
                <string>{856,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{909,3609},{856,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{906,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{2643,3611},{906,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{908,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{3551,3611},{908,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{908,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{4461,3611},{908,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,0}</string>
                <key>spriteSize</key>
                <string>{892,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{5371,3611},{892,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{874,720}</string>
                <key>spriteSourceSize</key>
                <string>{950,720}</string>
                <key>textureRect</key>
                <string>{{6265,3611},{874,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{7140,4332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97346484a8625c6a3f83c70da9eb5474:bf672cf8376c78b86e1f8716a0df26ba:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
