:root {
  --color-verde: #97c03d;
  /*  font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    */
}
@font-face {
    font-family: Bebas;
    src: url(font/BebasNeue.otf);
}



p{
    font-weight: 100;
        letter-spacing: 0.2em;

}

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
    
    
}


#botones {
	position: fixed;
    z-index: 100;
    top:50%;
    transform: translateY(-50%);
    margin-left: 2rem;
    
}
.boton{
    width: 1em;
    height: 1em;
   border: 0.1rem solid white;
    border-radius: 5em;
    z-index: 100;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    transition: 0.5s;
 
}


.boton:hover {
     background-color:white;
       border-color:white;
}




#home {
    position: relative;
    width: 100vw;
    background-color: black;
    margin: 0;
    padding-bottom: 6rem;
    height: 100vh;
      min-height: 600px;
      opacity: 0;
}

#particles-js {
    width: 100%;
    position: absolute;
    z-index: 1;
}

header {
    position: relative;
    z-index: 1;
}

header>ul {
    margin-top: 2em;
    text-align: right;
    padding-right: 2em;
}

header>ul>li {
    margin-left: 20;
    display: inline;
}

header>ul>li>a>i {
    transition: 0.5s;
    font-size: 1.5em !important;
   
    color: var(--color-verde);
}

header>ul>li>a>i:hover {
    color: white;
    cursor: pointer;
}

header>ul>li>a>figure {
    margin: 0;
    display: inline;
}

.home-contenedor-logo {
    position: relative;
    margin-top: -5em;
}

.logo-home {
    
    position: relative;
    z-index: 1;
    background-size: contain;
    height: 100%;
    max-height: 322px;
    background-repeat: no-repeat;
    
}

.logo-uno {
    position: absolute;
    background-image: url(img/logo-uno.svg);
}

.logo-dos {
    position: absolute;
    background-image: url(img/logo-dos.svg);
    transition: 1s;
    transform-origin: 0% 100%;
    transform: translateX(-200px);
    opacity: 0;
}

.logo-tres {
    position: absolute;
    background-image: url(img/logo-tres.svg);
    
    transform: translate(-0.5em)rotate(-180deg);
    background-position: right;
}

.logo-cuatro {
    position: absolute;
   
    background-image: url(img/logo-cuatro.svg);

transition: 1s;
    transform-origin: 0% 100%;
    transform: translateX(-12.500em);
    opacity: 0;
    

}

.introduccion {
    position: relative;
    color: white;
    z-index: 1;
    font-size: 1.1em;
}

.home-contenedor-learn-more {
    position: absolute;
    text-align: center;
    bottom: 0;
    z-index: 10;
  
}

.learn-more>a {
  display:inline-block;
}

.learn-more>a>p {
    color: white;
    font-size: 0.9em;
    transition: 0.5s;
   position: relative;
     display:inline-block;
margin: 0;
}



.home-icon-down>a>i {
    color: white;
    font-size: 3em;
    transition: 0.5s;
    
}

.home-presentacion {
    position: absolute;
    bottom: 0;
    top: 0;
}


/*-------about me----------*/

#about-me {
    position: relative;
   /* background-color:#eee;*/
    background-image: url(img/pattern.png);
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 600px;
}

.foto{
   height: 100%;
    background-image: url(img/foto.jpg);
    background-size: cover;
    margin: 0;
}

.section-aboutme {
	margin: 0 !important;
    padding: 0 !important;
}



.contenido-aboutme {
	position: relative;
     height: 100%;
    
    
}

.contenido-aboutme>article {
        top: 50%;
    transform: translateY(-50%);
	position: absolute;

   
}

.contenido-aboutme>article>h1 {
	color: var(--color-verde);
    margin-top: 0;
        font-family: Bebas;
    font-size: 8em;
    text-align: center;
}

.contenido-aboutme>article>p {
	color: #000;
     font-size: 1.1em;
    text-align: justify;
    word-spacing:-2px;

}







/*-------skills----------*/

#skills {
    position: relative;
    background-color: black;
    margin: 0;
    padding: 0;
      height: 100vh; 
    min-height: 500px;
   
}




/*-------my Work----------*/

#my-work {
    position: relative;
    background-color: var(--color-verde);
    margin: 0;
    padding: 0;
      height: 100vh; 
    min-height: 500px;
   
}



/*-------contact me----------*/

#contact-me {
    position: relative;
    background-color: black;
    margin: 0;
    padding: 0;
      height: 100vh; 
    min-height: 500px;
   
}

@media (min-width: 1199px) {}

@media (max-width: 1199px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    margin-top: 0px;
    .introduccion {
        font-size: 0.9em;
    }
    
    .home-contenedor-logo {
    margin-top: 0;
}
    
    
    
    
    .contenido-aboutme>article>h1 {
	color: var(--color-verde);
    margin-top: 0;
        font-family: Bebas;
    font-size: 6em;
    text-align: center;
}

.contenido-aboutme>article>p {
	color: #000;
     font-size:1em;
    text-align: justify;
    word-spacing:-2px;

}

    
    
    
}

@media (max-width: 575px) {
    
    #botones {

    margin-left: 1rem;
    
}
    
    
 
    
    .introduccion {
        font-size: 0.9em;
        margin-top: 2.5em;
    }
    .home-presentacion {
        position: relative;
    }
    .valign-wrapper {
        display: inherit !important;
    }
    
    #about-me {
	padding-top: 2em;
}
       .contenido-aboutme>article {
        top: 0;
    transform: translateY(0);
	position: relative;
margin-top: 9em;
   
}
 
    
    
      .contenido-aboutme>article>h1 {
    font-size: 5em;
          margin: 0;
}

.contenido-aboutme>article>p {
	color: #000;
     font-size:1em;
    text-align: justify;
    word-spacing:-2px;

}
  
    
    
    
    
    .foto{
  width: 7em;
        height: 7em;
       border-radius: 5em; 
        position: absolute;
      margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0; 
      
        
}
    
  
  
    
 
    
}

@media (max-height: 500px) {
    .home-presentacion {
        position: relative;
    }
    
    
#about-me {
  
   /* height: 400vh; 
    
   */
}
    
    
}
