html, body {
    max-width: 100%;
    overflow-x: hidden;
}


#home {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

header{
    position: relative;
    z-index: 1;
   
}

ul{
    text-align: right;
}

li {
   margin-right: 3em;
    display: inline;
}


header>ul>li>a>figure{
  margin: 0;
    display: inline;
}

header>ul>li>a>figure>img{
height: 2em;

}




.contenedor-logo-home {
    position: relative;
       margin-top: 6.250em;

}

.logo-home {


   position: absolute;
    z-index: 1;
     background-size: contain;
   height: 100%;
    background-repeat: no-repeat;
}



.logo-uno {
 

	background-image: url(img/logo-uno.svg);
   
}



.logo-dos {

	background-image: url(img/logo-dos.svg);

}



.text-developer {
	color: white;
    text-align: right;
    font-weight: 100;
    font-size: 1em;
}

#particles-js {
    
    width: 100vw;
    position: absolute;
    z-index: 0;
}




@media (max-width: 1199px) {

}

@media (min-width: 992px) {

}

@media (max-width: 768px) {

}


@media (max-width: 575px) {
}
