<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{723,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{1445,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{2167,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{698,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{5055,2095},{698,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{2889,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{1445,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{3611,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{4333,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{5055,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{5777,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{6499,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{7221,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{698,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{5777,2095},{698,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{1,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{723,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{1445,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{2167,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{723,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{2889,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{3611,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{4333,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{5055,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{5777,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{698,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{6499,2095},{698,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{6499,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{7221,699},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{1,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{723,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{1445,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{2167,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{1,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{2889,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{3611,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{4333,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{5055,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{5777,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{6499,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{698,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{7221,2095},{698,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{7221,1397},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{1,2095},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{723,2095},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{1445,2095},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{2167,2095},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{2889,2095},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{3611,2095},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{696,720}</string>
                <key>spriteSourceSize</key>
                <string>{730,720}</string>
                <key>textureRect</key>
                <string>{{4333,2095},{696,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{7942,2794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f3e801310d821841874109f88869ffe:735e87831fbad6b2626d0facd814ba8c:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
