<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-1}</string>
                <key>spriteSize</key>
                <string>{300,366}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{315,313},{300,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{304,356}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{617,975},{304,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{302,354}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{923,975},{302,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-6}</string>
                <key>spriteSize</key>
                <string>{300,354}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{973,1331},{300,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-7}</string>
                <key>spriteSize</key>
                <string>{300,354}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{1227,975},{300,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-6}</string>
                <key>spriteSize</key>
                <string>{300,356}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{671,1333},{300,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{304,356}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{927,617},{304,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{304,356}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{617,975},{304,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{306,358}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{363,1351},{306,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{308,360}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{1,1457},{308,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{312,360}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{1,1095},{312,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{300,366}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{315,615},{300,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{312,362}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{1,1},{312,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{310,364}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{1,365},{310,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-1}</string>
                <key>spriteSize</key>
                <string>{306,364}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{681,1},{306,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{304,366}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{1047,1},{304,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{300,366}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{315,983},{300,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-1}</string>
                <key>spriteSize</key>
                <string>{302,366}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{683,309},{302,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-1}</string>
                <key>spriteSize</key>
                <string>{306,364}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{681,1},{306,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{310,364}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{315,1},{310,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{312,362}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{1,731},{312,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{312,360}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{1,1095},{312,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{308,360}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{1051,307},{308,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{308,358}</string>
                <key>spriteSourceSize</key>
                <string>{340,370}</string>
                <key>textureRect</key>
                <string>{{617,615},{308,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{1528,1766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b1d1a1bd0909cd014686e44f7099839:f586b3b404f41351cff77845d02045ff:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
