@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap");
:root {
  --pink-color: #ffe5e5;
  --font-color-header: #f0f0f0;
  --font-color-custom-black: #000000;
  --pink-color-2: #ebb8b8;
  --red-color: #e7402f;
  --primary-color: #cc4d4d;
  --primary-accent-color: rgba(136, 60, 60, 0.50);
  --border-causes-color: #dfdfe1;
  --primary-shadow-color: #a72525;
  --primary-dark-color: #773737;
  --primary-light-color: rgba(204, 77, 77, 0.6);
  --accent-color: rgba(0, 0, 0, 0.5);
  --secondary-color: #222222;
  --green-color: #32ba6d;
  --green-color-2: #97b16b;
  --aqua-color: #009999;
  --background-input-color: #f9f9f9;
  --border-input-color: #ebebeb;
  --white-color: #ffffff;
  --body-background: #ffffff;
  --body-background-contrast: #ffffff;
  --gray-color-0: #fbfbfb;
  --gray-color-1: #f0f0f0;
  --gray-color-2: #bbbbbb;
  --gray-color-3: #999999;
  --gray-color-4: #666666;
  --gray-color-5: #444444;
  --gray-color-6: #393939;
  --gray-color-7: #323232;
  --gray-color-8: #2a2a2a;
  --gray-color-9: #222222;
}

.dark-mode {
  --pink-color: #ffe5e5;
  --font-color-header: #f0f0f0;
  --pink-color-2: #ebb8b8;
  --font-color-custom-black: #bbbbbb;
  --border-causes-color: #393939;
  --red-color: #e7402f;
  --primary-color: #cc4d4d;
  --primary-accent-color: rgba(136, 60, 60, 0.50);
  --primary-shadow-color: #a72525;
  --primary-dark-color: #773737;
  --primary-light-color: rgba(204, 77, 77, 0.6);
  --accent-color: rgba(0, 0, 0, 0.5);
  --secondary-color: #222222;
  --green-color: #32ba6d;
  --green-color-2: #97b16b;
  --aqua-color: #009999;
  --background-input-color: #393939;
  --border-input-color: #ebebeb;
  --body-background: #1c1c1e;
  --body-background-contrast: #1c1c1e;
  --white-color: #ffffff;
  --gray-color-0: #393939;
  --gray-color-1: #2a2a2a;
  --gray-color-2: #bbbbbb;
  --gray-color-3: #999999;
  --gray-color-4: #bbbbbb;
  --gray-color-5: #bbbbbb;
  --gray-color-6: #393939;
  --gray-color-7: #bbbbbb;
  --gray-color-8: #2a2a2a;
  --gray-color-9: #222222;
}

body {
  background-color: var(--body-background);
  transition: 0.25s;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  padding: 0;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus, a:focus, input:focus, textarea:focus {
  outline: none;
  filter: brightness(0.8);
}

input, textarea {
  border: solid 0.0625rem var(--border-input-color);
  background: var(--background-input-color);
  min-height: 1.875rem;
  color: var(--font-color-header);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.basic-slider__list::-webkit-scrollbar, .gallery__list::-webkit-scrollbar {
  display: none;
}

.small-font-label, .causes__button, .header__link {
  font-weight: 600;
  font-size: 0.75rem;
}

.label, label {
  color: var(--gray-color-4);
  font-size: 0.875rem;
  font-weight: 600;
}

.icon {
  width: 1.875rem;
  height: 1.875rem;
}

.heading-1, .presentation__title {
  font-weight: 400;
  font-size: 1.5rem;
}

.heading-2, .causes__title {
  font-weight: 600;
  font-size: 1.625rem;
}

.heading-3, .feed__title, .subtitle-line-below__button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3rem;
}

.heading-4, .subtitle-line-below__text {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3rem;
}

.heading-5 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--gray-color-4);
  text-transform: uppercase;
  height: auto;
}

.block-scroll {
  overflow: hidden !important;
  height: 100vh !important;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

figure {
  background: var(--gray-color-2);
}

.paragraph, .contact__form-label .label > span, .contact__form-label label > span, .footer-2__content, .footer-1__about-paragraph, .footer-1__news-paragraph, .footer-1__twitter-paragraph, .presentation__paragraph, .calendar__date--inline-text, .paragraph-light, .feed__paragraph, .causes__paragraph {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.paragraph-light, .feed__paragraph, .causes__paragraph {
  font-weight: 300;
}

.simple-button, .contact__form-button, .presentation__read-more-button {
  border: none;
  color: var(--white-color);
  background-color: var(--gray-color-9);
  font-weight: 700;
  font-size: 0.875rem;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem;
  }

  .col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-offset-0,
.col-sm-offset-1,
.col-sm-offset-2,
.col-sm-offset-3,
.col-sm-offset-4,
.col-sm-offset-5,
.col-sm-offset-6,
.col-sm-offset-7,
.col-sm-offset-8,
.col-sm-offset-9,
.col-sm-offset-10,
.col-sm-offset-11,
.col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }

  .col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-0,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 76rem;
  }

  .col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-offset-0,
.col-lg-offset-1,
.col-lg-offset-2,
.col-lg-offset-3,
.col-lg-offset-4,
.col-lg-offset-5,
.col-lg-offset-6,
.col-lg-offset-7,
.col-lg-offset-8,
.col-lg-offset-9,
.col-lg-offset-10,
.col-lg-offset-11,
.col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
/*

Here libraries finished

*/
.basic-slider__list {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.basic-slider__item {
  position: relative;
}

.basic-slider__button:hover {
  opacity: 1;
}

.basic-slider__button {
  height: 100%;
  width: calc(100% - 1rem);
  background: var(--primary-light-color);
  position: absolute;
  font-size: 3.625rem;
  color: var(--white-color);
  font-weight: 400;
  opacity: 0;
  transition: 0.25s;
}

/*========================== Subtitles with line below ==========================*/
.subtitle-line-below {
  margin-bottom: 2.8125rem;
}

.subtitle-line-below__list {
  display: flex;
}

.feed .subtitle-line-below__item:nth-last-of-type(1) {
  flex: 1;
}

.subtitle-line-below__item:nth-last-of-type(1) > .subtitle-line-below__button {
  margin-left: 0.125rem;
  padding: 0 0.25rem;
}

.subtitle-line-below__button {
  font-size: 1.5rem;
  width: 100%;
  color: var(--gray-color-7);
}

.subtitle-line-below__button, .subtitle-line-below__text {
  position: relative;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.subtitle-line-below__button:before, .subtitle-line-below__text:before {
  content: "";
  width: 100%;
  height: 0.4375rem;
  background: var(--primary-light-color);
  position: absolute;
  top: 2.2rem;
  left: 0;
}

.subtitle-line-below__button:hover:before {
  background: var(--primary-color);
}

.subtitle-line-below__button--active:before {
  background: var(--primary-color);
}

.subtitle-line-below__text:before {
  background-color: var(--primary-color);
  width: 110%;
  height: 0.25rem;
}

.subtitle-line-below__text {
  text-transform: uppercase;
  color: var(--white-color);
}

/*========================== Calendar component ==========================*/
.calendar {
  width: 5rem;
  height: 5rem;
  background-color: var(--gray-color-0);
  border: solid 0.0588235294rem var(--gray-color-1);
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.calendar:before {
  content: "";
  width: 100%;
  height: 0.5625rem;
  background-color: var(--primary-color);
  position: absolute;
  border: 0.0625rem solid var(--primary-color);
  top: -0.0625rem;
}

.calendar::after {
  content: "";
  width: 1.1875rem;
  height: 0.0625rem;
  position: absolute;
  margin: auto;
  top: 0.25rem;
  background-color: var(--white-color);
}

.calendar__date {
  color: var(--gray-color-5);
  line-height: 1.5rem;
  padding-top: 0.5625rem;
}

.calendar__date--inline-text {
  font-size: 0.75rem;
  color: var(--gray-color-4);
}

.calendar__date > span {
  color: var(--aqua-color);
}

/*========================== Header Section ==========================*/
.header {
  width: 100%;
  background: var(--gray-color-9);
  height: 6.25rem;
  transition: 0.25s;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 998;
}

.header:before {
  content: "";
  width: 100%;
  height: 0.4375rem;
  background: var(--primary-dark-color);
  position: absolute;
  margin-left: -2rem;
}

.header__container {
  max-width: 100%;
}

.header__container, .header__row, .header__logo, .header__list, .header__item {
  height: 100%;
  display: flex;
}

.header__logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--pink-color);
  align-items: center;
  flex: 1;
}

.header__item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5625rem;
  color: var(--font-color-header);
  position: relative;
}

.header__link:not(.header__link--donate) {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__item:not(.header__donate):before {
  content: "";
  width: 100%;
  height: 0.4375rem;
  background: var(--primary-dark-color);
  position: absolute;
  top: 0;
  border-left: solid 0.125rem var(--gray-color-9);
  border-right: solid 0.125rem var(--gray-color-9);
}

.header__item:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__item:hover::before {
  background: var(--primary-color);
}

.header__item--active {
  color: var(--primary-color) !important;
}

.header__item--active:before {
  background: var(--primary-color) !important;
}

.header__link {
  color: inherit;
  text-transform: uppercase;
}

.header__donate {
  background: var(--green-color);
  font-weight: 400i;
}

.header__donate > .header__link {
  font-weight: 800;
  margin-top: 0.3125rem;
}

/*========================== Presentation section ==========================*/
.presentation {
  height: 34.0625rem;
  color: var(--white-color);
  padding-top: 6.25rem;
  background: url("https://cdn.pixabay.com/photo/2015/08/05/13/55/children-876543_1280.jpg") no-repeat fixed bottom;
  background-size: cover;
}

.presentation__container, .presentation__row {
  height: 100%;
}

.presentation__title, .presentation__paragraph {
  background: var(--accent-color);
}

.presentation__title {
  margin: 0.625rem 0;
  width: 100%;
  padding: 0.25rem 1.25rem;
}

.presentation__paragraph {
  width: 100%;
  padding: 1rem 1.25rem;
  line-height: 1.5625rem;
  margin: 0.625rem 0;
  overflow-y: scroll;
  max-height: 15rem;
}

.presentation__read-more-button {
  padding: 0.6rem 1.25rem;
  margin: 0.625rem 0;
  border-radius: 0.1875rem;
}

/*========================== Causes Section ==========================*/
.causes {
  background-color: var(--gray-color-1);
  height: 35.1875rem;
  position: relative;
}

.causes:before {
  content: "";
  width: 100%;
  border-top: 0.125rem solid var(--border-causes-color);
  height: 0.125rem;
  background: var(--body-background);
  position: absolute;
  margin-left: -2rem;
  top: 12.625rem;
}

.causes::after {
  content: "";
  height: 1.34375rem;
  width: 100%;
  background: var(--body-background);
  bottom: 0;
  position: absolute;
  margin-left: -2rem;
  z-index: 0;
}

.causes__container, .causes__row, .causes__item {
  height: 100%;
}

.causes__list::-webkit-scrollbar {
  display: none;
}

.causes__list {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.causes__item-content {
  margin-left: 1.875rem;
}

.causes__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.causes__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.causes__picture {
  width: 13.5625rem;
  height: 13.5625rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.625rem 0;
}

.causes__title {
  color: var(--gray-color-4);
  margin: 0.625rem 0;
  text-shadow: 0.125rem 0.125rem var(--white-color);
}

.causes__button {
  font-size: 1.5rem;
  width: 2.6875rem;
  height: 2.6875rem;
  border-radius: 50%;
  color: var(--white-color);
  background-color: var(--gray-color-1);
  border: solid 0.1875rem var(--body-background);
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.causes__button--active {
  background-color: var(--primary-color);
}

.causes__button:hover {
  background-color: var(--primary-color);
}

.causes__paragraph {
  color: var(--gray-color-4);
  margin: 0.625rem 0;
}

/*========================== Feed Section - Gallery, Events, News ==========================*/
.feed__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.8125rem;
}

.feed__image {
  width: 100%;
  margin-bottom: 1rem;
}

.feed__content {
  flex: 1;
}

.feed__title {
  margin-bottom: 0.625rem;
  color: var(--font-color-custom-black);
}

.feed__paragraph {
  color: var(--gray-color-4);
}

/*========================== Gallery ==========================*/
.gallery .feed__image {
  height: 16.25rem;
  margin: 0;
}

.gallery .basic-slider__list {
  padding: 0;
}

/*========================== Latest Events ==========================*/
.gallery {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.events .feed__content {
  margin-left: 0.875rem;
}

.events .feed__image {
  height: 11.5625rem;
}

.events__row .feed__item:first-of-type .feed__image {
  height: 17.8125rem;
}

/*========================== Latest News ==========================*/
.news__row .feed__item:first-of-type .feed__image {
  width: 100%;
  height: 10.9375rem;
}

.news__row .feed__item:nth-of-type(1n+2) .feed__content {
  margin-left: 1.25rem;
}

.news__row .feed__item:nth-of-type(1n+2) .feed__paragraph {
  margin-top: 0;
}

.news__row .feed__item:nth-of-type(1n+2) .calendar__date--inline-text {
  line-height: 3rem;
}

.news .feed__image {
  width: 6.25rem;
  height: 5.3125rem;
}

.news .feed__title {
  margin-bottom: 0.3rem;
}

.news .feed__paragraph {
  margin-top: 0.5rem;
}

/*========================== Sponsors ==========================*/
.sponsors {
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
}

.sponsors__row {
  position: relative;
}

.sponsors__row:before {
  content: "";
  width: 7rem;
  height: 5.3125rem;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.sponsors__row:after {
  content: "";
  width: 7rem;
  height: 5.3125rem;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.feed__items::-webkit-scrollbar {
  display: none;
}

.sponsors__row .feed__items {
  position: relative;
  display: flex;
  overflow: auto;
  justify-content: center;
}

.sponsors__row .feed__item:first-of-type {
  margin-left: 0;
}

.sponsors__row .feed__item {
  margin-bottom: 0;
  margin-left: 1.75rem;
}

.sponsors__row .feed__image {
  width: 11.25rem;
  height: 5.3125rem;
  margin-bottom: 0;
  border: 0.0625rem solid var(--gray-color-1);
}

.sponsors__row .feed__image > .cover {
  transition: 0.25s;
}

.sponsors__next-button {
  position: absolute;
  top: 7rem;
  z-index: 2;
  background: transparent;
}

.sponsors__next-button:last-of-type {
  right: 0;
  z-index: 2;
  transform: rotate(180deg);
}

/*========================== Footer 1 ==========================*/
.footer-1 {
  border-top: 0.1875rem solid var(--primary-color);
  background: var(--gray-color-9);
  padding-top: 4.5625rem;
  padding-bottom: 1.5625rem;
}

/*========================== About Footer ==========================*/
.footer-1__about, .footer-1__news, .footer-1__flickr {
  margin-bottom: 3rem;
}

.footer-1__about-icons {
  display: flex;
}

.footer-1__about-paragraph, .footer-1__news-paragraph, .footer-1__twitter-paragraph {
  color: var(--gray-color-2);
}

/*========================== News Footer ==========================*/
.footer-1__news-list {
  display: flex;
  flex-direction: column;
}

.footer-1__news-item {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.0625rem solid var(--gray-color-6);
}

.footer-1__news-image {
  width: 5.3125rem;
  height: 3.75rem;
  float: left;
  margin-right: 1rem;
}

/*========================== Flickr Footer ==========================*/
.footer-1__flickr-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-1__flickr-item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0.35rem;
  margin-bottom: 0.35rem;
}

.footer-1__flickr-image {
  width: 5.3125rem;
  height: 4.375rem;
}

/*========================== Twitter Footer ==========================*/
.footer-1__twitter-item {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.0625rem solid var(--gray-color-6);
}

.footer-1__twitter-image {
  margin-right: 1rem;
}

.footer-1__twitter-tag {
  float: left;
  margin-right: 0.25rem;
  color: var(--primary-color);
  font-style: italic;
}

.footer-1__twitter-time {
  color: var(--gray-color-4);
}

/*========================== Footer 2 ==========================*/
hr {
  border-top: none;
  border-color: var(--gray-color-5);
}

.footer-2 {
  background: var(--gray-color-8);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-transform: uppercase;
}

.footer-2__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--gray-color-3);
}

.footer-2__item:not(:last-child) {
  border-right: 0.0625rem solid var(--gray-color-3);
  padding-right: 1rem;
  margin-right: 1rem;
}

.footer-2__list {
  display: flex;
}

.footer-2__link {
  color: var(--gray-color-3);
}

.footer-2__link:hover {
  color: var(--white-color);
}

.footer-2__link--donate {
  color: var(--green-color-2);
}

/*========================== Contact ==========================*/
.contact__header {
  background: var(--primary-color);
  color: var(--white-color);
  padding-top: 6.25rem;
  position: relative;
}

.contact__header::before, .contact__title::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
}

.contact__header::before {
  border-bottom: 0.25rem solid var(--pink-color-2);
  margin-left: -2rem;
}

.contact__title::before {
  height: 0.25rem;
  background: var(--primary-accent-color);
  border-left: 0.0625rem solid var(--primary-color);
  border-right: 0.0625rem solid var(--primary-color);
}

.contact__header .container {
  height: 8.875rem;
}

.contact__row {
  height: 100%;
}

.contact__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.3529411765rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

/*========================== Contact Form ==========================*/
.contact__section {
  padding-top: 3.75rem;
  padding-bottom: 5.625rem;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
}

.contact__form-label {
  display: flex;
  flex-direction: column;
  margin-top: 1.1875rem;
}

.contact__form-label .label > span, .contact__form-label label > span {
  font-size: 0.75rem;
}

.contact__form-input {
  margin-top: 0.625rem;
}

.contact__message {
  min-height: 10rem;
}

.contact__form-button {
  background: var(--primary-color);
  margin-left: 0.5rem;
  padding: 0.75rem 1.5625rem;
  border-radius: 0.1875rem;
  box-shadow: var(--primary-shadow-color) 0 0.25rem 0;
  margin-bottom: 1.5625rem;
  margin-top: 2.125rem;
}

/*========================== Contact Info ==========================*/
.contact__info-item {
  margin-bottom: 0.75rem;
}

.contact__info-link {
  display: flex;
  align-items: center;
}

.contact__info-link > p {
  margin-left: 0.5rem;
  font-size: 0.75rem;
  color: var(--gray-color-4);
}

.contact__info-title, .contact__subscribe-title {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

/*========================== Contact Subscribe ==========================*/
.contact__subscribe-title {
  margin-top: 3rem;
}

.contact__subscribe-list {
  display: flex;
}

.contact__subscribe-item {
  margin-right: 0.5rem;
}

@media (max-width: 992px) {
  #header__menu-button {
    width: 2.5rem;
    height: 2rem;
    top: 1.5625rem;
    left: 1.5625rem;
    position: fixed;
    z-index: 999;
    padding-top: 0.8rem;
  }

  #header__menu-button:hover {
    cursor: pointer;
  }

  .menu-icon, .header__menu-icon, .header__menu-icon:before, .header__menu-icon:after {
    content: "";
    width: 2.5rem;
    height: 0.4rem;
    background: var(--white-color);
    position: absolute;
    box-shadow: var(--accent-color) 2px 2px 5px;
  }

  .header__menu-icon, .header__menu-icon:before, .header__menu-icon:after {
    transition: 0.25s;
  }

  .header__menu-icon {
    transition: 0.25s;
  }

  .header__menu-icon:before {
    top: -0.8rem;
  }

  .header__menu-icon:after {
    top: 0.8rem;
  }

  .header__menu-icon--activated {
    width: 0;
  }

  .header__menu-icon--activated:before {
    top: 0;
    transform: rotate(135deg);
  }

  .header__menu-icon--activated:after {
    top: 0;
    transform: rotate(-135deg);
  }

  .header {
    height: 0;
    overflow: auto;
  }

  .header-fade-in {
    display: flex;
    height: 100vh;
  }

  .header__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .header__container, .header__list {
    flex-direction: column;
  }

  .header__container, .header__list, .header__logo {
    height: auto;
  }

  .header__item {
    margin-top: 3rem;
  }

  .header__logo {
    justify-content: center;
    margin-top: 1.3125rem;
    flex: inherit;
  }

  .header__item:before, .header__item:hover::before, .header__item--active:before {
    display: none;
  }

  .header__donate {
    background: inherit;
    margin-bottom: 2rem;
  }

  .presentation {
    padding-top: 0;
  }

  .contact__header {
    padding-top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
