<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{372,236}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{341,591},{372,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{342,294}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1,295},{342,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{338,298}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1,591},{338,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{338,298}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1,891},{338,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{338,298}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{691,291},{338,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{338,296}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1055,529},{338,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{340,292}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{349,287},{340,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{346,284}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1053,1},{346,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{352,274}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1763,1},{352,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{356,264}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1763,355},{356,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-20}</string>
                <key>spriteSize</key>
                <string>{360,252}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1401,273},{360,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{372,236}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{341,965},{372,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-25}</string>
                <key>spriteSize</key>
                <string>{364,242}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{715,965},{364,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{368,236}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1031,291},{368,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-28}</string>
                <key>spriteSize</key>
                <string>{370,236}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1337,827},{370,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{372,236}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{579,591},{372,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{372,236}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{817,591},{372,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-29}</string>
                <key>spriteSize</key>
                <string>{372,236}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1575,713},{372,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{370,238}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1575,951},{370,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{366,254}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1081,827},{366,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{360,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1401,1},{360,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{352,284}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{349,1},{352,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{348,288}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{703,1},{348,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{346,292}</string>
                <key>spriteSourceSize</key>
                <string>{380,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{2038,1208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31382a124047a594f8a326682ab1e0e4:224eeba42927e31dacae2b3e59825054:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
