<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{768,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{772,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{771,1},{772,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{772,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{1545,1},{772,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{770,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{2319,1},{770,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{768,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{3091,1},{768,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{770,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{1,541},{770,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{772,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{773,541},{772,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{770,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{1547,541},{770,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{772,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{2319,541},{772,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{774,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{3093,541},{774,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,14}</string>
                <key>spriteSize</key>
                <string>{772,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{1,1081},{772,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{770,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{775,1081},{770,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,14}</string>
                <key>spriteSize</key>
                <string>{772,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{1547,1081},{772,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{772,540}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{2329,2161},{772,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{770,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{2321,1081},{770,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{772,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{3093,1081},{772,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{770,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{1,1621},{770,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{772,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{773,1621},{772,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{772,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{1547,1621},{772,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{772,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{2321,1621},{772,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{774,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{1,2161},{774,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{774,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{777,2161},{774,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{774,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{1553,2161},{774,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{772,538}</string>
                <key>spriteSourceSize</key>
                <string>{850,650}</string>
                <key>textureRect</key>
                <string>{{3095,1621},{772,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{3868,2702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:892f42f6db2090e751361714859bbe01:bb40cd6a0683fe801181728e2233c260:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
