:root {
    --ground: rgb(198, 152, 92);
    --lightGrass: rgb(23, 199, 28);
    --darkGrass: rgb(14, 108, 17);
    --lightSky: rgb(149,194,245);
    --darkSky: rgb(110,158,244);
    --player: rgb(246, 255, 100);
    --playerOpacity: rgba(246, 255, 100, 0.26);
}

canvas{
    background: linear-gradient(var(--darkSky), var(--lightSky));
    opacity: 1;
transition: 0.2s;
    position: absolute;

}


h1{
width: 100vw;
    position: absolute;

    text-align: center;

    top: 50%;
    transform: translateY(-50%);
    margin-top: -100px;
    color: white;

}



#newGame{

    position: absolute;


right: 50%;
    top: 50%;
    transform: translate(50%, -50%);

    color: white;
    background-color:var( --ground);
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;
}

#newGame:hover{
    cursor: pointer;
}

body {
    overflow:hidden;
padding: 0;
    margin: 0;
    background-color: black;
}


/*
#btnLeft{
    border-radius: 40px 0 0 40px;
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    background-color: lightgray;
    z-index: 10;
    bottom: 0;
    margin-bottom: 20px;
}

#btnRight{
    border-radius: 0 40px 40px 0;
    position: absolute;
    height: 40px;
    width: 40px;

    margin-left: 90px;
    background-color: lightgray;
    z-index: 10;
    bottom: 0;
    margin-bottom: 20px;
}

#btnUp{
    border-radius: 40px;
    position: absolute;
    height: 40px;
    width: 40px;
    margin-right: 90px;
    background-color: lightgray;
    z-index: 10;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
}

#btnFire{
    border-radius: 40px;
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    background-color: red;

    z-index: 10;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}
p{
    text-align: center;
    width: 100%;
   height: 100%;
    position: absolute;


    margin-top: 10px;


}*/