@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import "color";

$default-font: 'Poppins', sans-serif;
.subtitle-font {
font-family: $default-font;
  color: $text-color;
  font-size: 0.875rem;
  font-weight: 300;
}

.paragraph-font {
  font-family: $default-font;
  color: $text-color;
  font-size: 0.875rem;
  font-weight: 200;
}

p{
  @extend .paragraph-font;
}

h2{
  @extend .subtitle-font;
}

