:root {
  --primary-ultra-light-color: #C3E0E2;
  --primary-light-color: #70BFE8;
  --primary-color: #0062B4;
  --primary-dark-color: #225286;
  --gray-light-color: rgb(230,230,232);
  --beige-dark-color: #E5DFD6;
  --violet-dark-color: #1B1625;
}
