<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{306,504}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{507,1149},{306,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{280,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1017,1},{280,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{280,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1,281},{280,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{280,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1,281},{280,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{280,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1,281},{280,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{280,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1,281},{280,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{280,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1,281},{280,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{278,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-1}</string>
                <key>spriteSize</key>
                <string>{280,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{509,281},{280,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-1}</string>
                <key>spriteSize</key>
                <string>{286,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1,563},{286,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{290,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1017,565},{290,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{304,504}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1523,903},{304,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{296,504}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1525,1},{296,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{300,504}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1525,299},{300,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{304,504}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1,1143},{304,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{306,504}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1013,1161},{306,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{306,504}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{507,1149},{306,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{302,504}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1017,857},{302,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{300,504}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1525,601},{300,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{296,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{509,851},{296,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{290,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1,851},{290,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{286,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{509,563},{286,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{278,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{509,1},{278,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-2}</string>
                <key>spriteSize</key>
                <string>{280,506}</string>
                <key>spriteSourceSize</key>
                <string>{350,510}</string>
                <key>textureRect</key>
                <string>{{1017,283},{280,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{2030,1468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edbf3e4bce62f9aa075d49b913f8dc4d:aa14bc61c8dc2a24ed7577e03c6f11b2:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
