@mixin left-divider($color, $bg-color) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 0 0 100vw;
  border-color: transparent transparent transparent $color;
  background: $bg-color;

}
@mixin right-divider($color) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 120px 100vw;
  border-color: transparent transparent $color transparent;
}
