@import "abstracts/index";

@font-face {
  font-family: Avenir, sans-serif;
  src: url(../../fonts/avenir/AvenirLTStd-Roman.otf) format("opentype");
}

@font-face {
  font-family: Acumin, sans-serif;
  font-weight: 700;
  src: url(../../fonts/acumin/Acumin-BdPro.otf) format("opentype");
}

@font-face {
  font-family: Acumin, sans-serif;
  font-weight: 300;
  src: url(../../fonts/acumin/Acumin-RPro.otf) format("opentype");
}

html{
  font-family: Avenir, sans-serif;
}

.font-acumin{
  font-family: Acumin, sans-serif;
}

.text-xl{
  font-size: 1.6rem;
  @include tablet{
    font-size: 1.8rem;
  }
}

.text-xxl{
  font-size: 2.6rem;
  @include tablet{
    font-size: 2.8rem;
  }
}

.text-l{
  font-size: 1rem;
  @include tablet{
font-size: 1.25rem;
  }
}

.text-m{
  font-size: 0.9rem;
  @include tablet{
    font-size: 1rem;
  }
}

.text-s{
  font-size: 0.75rem;
  @include tablet{
    font-size: 0.875rem;
  }
}

.text-xs{
  font-size: 0.5rem;
  @include tablet{

  }
}

.text-regular{
  font-weight: 300;
}


.text-semi-bold{
  font-weight: 500;
}

.text-bold{
  font-weight: 700;
}

h1,h2,h3,h4{
  font-family: Acumin, sans-serif;
  font-weight: 700;
}





