/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
}
*{
    margin: 0;
    padding: 0;
}
h1 {
    /*  font-style: italic;
      color: #373fff;
    */
    font-size: 1.35em;
}

button{
    border: none;
    background: none;
}

div{
    max-height: 100vh;
    overflow: auto;
}

div#contentMenu {
    position: absolute;
    left: 6px;
    top: 6px;
    padding: 6px;
    /*
    text-shadow: 0 0 5px white;
    */
    max-width: 350px;
    background-color: rgba(255, 255, 255, 0.7)
}
label{
    display: block;
}

.open{
    display: none;
}

ul{
    text-decoration: none;
    list-style: none;
}

li{
    background: black;
    color: white;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
li:hover{
    background: lightgray;
    color: black;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    cursor: pointer;
}
